<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog后台登录</title>
    <link href=/resources/assets/css/iCheck/custom.css" >
    <!-- Import google fonts - Heading first/ text second -->
    <!-- Css files -->
    <link href="/resources/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/assets/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">zzz</h1>
        </div>
        <h3 class="text-center">欢迎使用 blog管理系统</h3>
        <form class="m-t" role="form" method="post" action="/j_spring_security_check">
            <div class="form-group">
                <input type="text" name="j_username" class="form-control" placeholder="用户名" required="">
            </div>
            <div class="form-group">
                <input type="password" name="j_password" class="form-control" placeholder="密码" required="">
            </div>
            <div class="form-group form-inline">
                <div>
                    <input style="margin-top: -1px" type="checkbox" name="_spring_security_remember_me">
                    <label><i></i>&nbsp;记住我</label>
                </div>
                <a href="#"><small>忘记密码了？</small></a>
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>
        </form>
    </div>
</div>

<script src="/resources/assets/js/jquery-2.1.1.min.js"></script>
<script src="/resources/assets/js/bootstrap.min.js"></script>
<script src="/resources/assets/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
</body>
</html>