<div class="sidebar ">
    <div class="sidebar-collapse">
        <div class="sidebar-header t-center">
            <span><img class="text-logo" src="resources/assets/img/logo1.png">
                <i class="fa fa-space-shuttle fa-3x blue"></i></span>
        </div>
        <div class="sidebar-menu">
            <ul class="nav nav-sidebar">
                <ul class="nav sub">
                <!-- 递归 宏定义 -->
                <#macro bpTree menus>
                    <#if menus?? && menus?size gt 0>
                        <#list menus as menu>
                            <#if menu.cMenus?? && menu.cMenus?size gt 0>
                                <li>
                                    <a href="${menu.href}" target="mainFrame">
                                        <i class="${menu.icon}"></i>
                                        <span class="text"> ${menu.menuName}</span>
                                        <span class="fa fa-angle-down pull-right"></span>
                                    </a>
                                    <ul class="nav sub">
                                        <@bpTree menus = menu.cMenus/>
                                    </ul>
                                </li>
                            <#else>
                                <li>
                                    <a href="${menu.href}" target="mainFrame">
                                        <i class="${menu.icon}"></i>
                                        <span class="text"> ${menu.menuName}</span>
                                    </a>
                                </li>
                            </#if>
                        </#list>
                    </#if>
                </#macro>
                <!-- 调用宏递归树 -->
                <@bpTree menus=menus/>
                </ul>
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">
    </div>
</div>