<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhd.mapper.SysMenuMapper">

    <!-- 映射 -->
    <resultMap id="BaseMenuMapper" type="com.lhd.entity.SysMenu">
        <id property="id" column="id"/>
        <result property="roleId" column="roleId"/>
        <result property="menuId" column="menuId"/>
    </resultMap>

    <!-- 查询roleId，通过userId -->
    <select id="selectMenuIdByRoleId" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT rm.menuId
        FROM sys_role_menu rm
        WHERE rm.roleId = #{roleId}
    </select>

    <!-- 通过menuid获取menu对象 -->
    <select id="selectMenuByMenuId" resultMap="BaseMenuMapper" parameterType="java.lang.String">
        SELECT m.*
        FROM sys_menu m
        WHERE m.id = #{menuId} and useable = 1;
    </select>

    <!-- 添加rolemenu数据 -->
    <insert id="insertRoleMenu" parameterType="com.lhd.entity.SysRoleMenu">
        INSERT INTO sys_role_menu(id,roleId,menuId)
        VALUES(#{roleMenu.id},#{roleMenu.roleId},#{roleMenu.menuId});
    </insert>

    <!-- 获取ztree使用的menu -->
    <select id="selectAllMenuDto" resultType="com.lhd.dto.SysMenuDto">
        SELECT id,pId,menuName name
        FROM sys_menu
        WHERE useable = 1;
    </select>

    <!-- 删除对应角色所有的menu -->
    <delete id="deleteMenuByRoleId" parameterType="java.lang.String">
        DELETE
        FROM sys_role_menu
        WHERE roleId=#{roleId}
    </delete>

    <!-- 查询所有菜单用户页面显示 -->
    <select id="selectAllMenu" resultType="com.lhd.entity.SysMenu">
        SELECT *
        FROM sys_menu m
    </select>

    <!-- 查询单个 -->
    <select id="selectMenuById" resultType="com.lhd.entity.SysMenu" parameterType="java.lang.String">
        SELECT *
        FROM sys_menu m
        WHERE id = #{id}
    </select>

    <!-- 更新菜单 -->
    <update id="updateMenu" parameterType="com.lhd.entity.SysMenu">
        UPDATE sys_menu
        SET pId=#{pId,jdbcType=VARCHAR},menuName=#{menuName,jdbcType=VARCHAR},
            useable=#{useable,jdbcType=TINYINT},href=#{href,jdbcType=TINYINT},
            icon=#{icon,jdbcType=TINYINT}
        WHERE id=#{id,jdbcType=VARCHAR}
    </update>

</mapper>