<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhd.mapper.TagMapper">


    <select id="selectCountByTagName" resultType="java.lang.Integer"
            parameterType="java.lang.String">
        SELECT count(*)
        FROM sys_tag
        WHERE tagName=#{tagName};
    </select>

    <select id="selectTagByTagName" resultType="com.lhd.entity.Tag"
            parameterType="java.lang.String">
        SELECT *
        FROM sys_tag
        WHERE tagName=#{tagName};
    </select>


    <insert id="insertArticleTag" parameterType="com.lhd.entity.ArticleTag">
        INSERT INTO
        sys_article_tag(id,tagId,articleId)
        VALUES (#{id,jdbcType=VARCHAR},#{tagId,jdbcType=VARCHAR},
                #{articleId,jdbcType=VARCHAR});
    </insert>

    <delete id="deleteArticleTag" parameterType="java.lang.String">
        DELETE
        FROM sys_article_tag
        WHERE tagId = #{tagId}
    </delete>

    <select id="selectTagIdByArticleId" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT tagId
        FROM sys_article_tag
        WHERE articleId=#{articleId}
    </select>

    <select id="selectArticleTagExist" resultType="com.lhd.entity.ArticleTag"
            parameterType="java.util.HashMap">
        SELECT *
        FROM sys_article_tag
        WHERE articleId=#{paramMap.articleId} and tagId = #{paramMap.tagId}
    </select>

</mapper>